<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520564007421-8dbei37eht398t9a1m5pk0sven3ucnfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520564007421-8dbei37eht398t9a1m5pk0sven3ucnfk</string>
	<key>API_KEY</key>
	<string>AIzaSyDuOAShunWjRPN3wC0FiBmfjbgBDvQCHIc</string>
	<key>GCM_SENDER_ID</key>
	<string>520564007421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jawaLed.CheckMateApp</string>
	<key>PROJECT_ID</key>
	<string>check-mate-5af71</string>
	<key>STORAGE_BUCKET</key>
	<string>check-mate-5af71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:520564007421:ios:a3671eb65080d7595db994</string>
	<key>DATABASE_URL</key>
	<string>https://check-mate-5af71.firebaseio.com</string>
</dict>
</plist>
